.announcements {
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid rgba(8, 75, 109, 0.08);
}

.navBar {
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid rgba(8, 75, 109, 0.08);
    background-color: $solidWhite;
}